html {font-size: 12px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family: 'Noto Sans JP', sans-serif;
}

html {
  background-color: #ccd5e3;
}

/*
body {
  width: 800px;
  margin: 0 auto;
  background-color: #d3d8e0;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}
*/
h1 {
  font-size: 30px;
  text-shadow: 2px 2px 1px grey;
  text-align: center;
}

h2 {
  font-size: 20px;

}

p, li {
  color: black;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
